<!DOCTYPE html>
<html>
<head>
    <title>Police Dashboard</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css"/>
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
</head>
<body>

<h2>Police & Tourism Dashboard</h2>

<div id="map" style="height:500px;"></div>

<h3>SOS Alerts</h3>
<ul id="alerts"></ul>

    <script>
    const map = L.map('map').setView([20, 78], 4);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 20
    }).addTo(map);

    let marker = null;

    function loadData() {
        fetch("/api/data")
            .then(res => res.json())
            .then(data => {
                if (data.locations.length === 0) return;

                const loc = data.locations[0];
                const lat = loc[1];
                const lng = loc[2];

                if (marker) map.removeLayer(marker);

                marker = L.marker([lat, lng]).addTo(map)
                    .bindPopup(
                        "Tourist ID: " + loc[0] +
                        "<br>Lat: " + lat +
                        "<br>Lng: " + lng
                    ).openPopup();

                map.setView([lat, lng], 17);
            });
    }

    loadData();
    setInterval(loadData, 3000);
    </script>

</body>
 </html>
